@charset "utf-8";
*{ margin:0; padding:0; }
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, input{
    margin:0;
    padding:0;
}
em, i{
    font-style:normal;
}
li{
    list-style:none;
}
h1, h2, h3, h4, h5, h6, b, strong,th{
    font-weight:normal;
}
a{
    outline:none;
    text-decoration:none;
}
img{
    border:none;
    vertical-align:top;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
th,td{
    text-align: left;
    vertical-align: top;
}
input{
    outline:none;
    border:none;
    background-color:transparent;
    font-family: inherit;
}
textarea{
    outline:none;
    resize:none;
    overflow:auto;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:1;
    -webkit-text-size-adjust: 100%!important;
}
a,button,input,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}



/*public style*/
.clearfix{
    zoom:1;/*IE浏览器清浮动*/
}
.clearfix:after{
    content:'';/*添加一个空内容*/
    display:block;/*转块*/
    clear:both;/*清浮动*/
}
.fl{
    float:left;
}
.fr{
    float:right;
}
