#grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.img_life{
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 16px;
}

  @media screen and (max-width: 800px) {
    #grid {
        display: grid;
        gap: 10px;
        grid-template-columns: auto;
    }
  }