#grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 50px);
}
.img_me{
    display: block;
    margin: auto;
    height: 300px;
    grid-area: 1 / 1 / 6 span / 1 span;
}
.education{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    grid-area: 1 / 2 / 1 span / 2 span;
}
.about_content_undergraduate {
    margin: 20px 0;
    font-size: 16px;
    line-height: 32px;
    word-wrap:break-word;
    grid-area: 2 / 2 / 4 span / 2 span;
}
.about_content_graduate {
    margin: 20px 0;
    font-size: 16px;
    line-height: 32px;
    word-wrap:break-word;
    grid-area: 6 / 2 / 3 span / 2 span;
}
.date{
    text-align: end;
}
.about_content_undergraduate p:first-child{
    font-weight: bolder;
}
.about_content_graduate p:first-child{
    font-weight: bolder;
}
  @media screen and (max-width: 800px) {
    #grid {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 50px);
    }
    .img_me{
        font-weight: bolder;
        text-align: center;
        height: 300px;
        grid-area: 1 / 1 / 6 span / 1 span;
    }
    .education{
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        grid-area: 7 / 1 / 1 span / 1 span;
    }
    .about_content_undergraduate {
        margin: 20px 0;
        font-size: 16px;
        line-height: 32px;
        grid-area: 8 / 1 / 3 span / 1 span;
    }
    .about_content_graduate {
        margin: 20px 0;
        font-size: 16px;
        line-height: 32px;
        grid-area: 12 / 1 / 2 span / 1 span;
    }
    .about_content_undergraduate p:first-child{
        font-weight: bolder;
    }
    .about_content_graduate p:first-child{
        font-weight: bolder;
    }
  }