.wrap .about_content .about_content_table .tab_top {
    font-size: 24px;
    text-indent: 1em;
    padding-bottom: 20px;
}
.wrap .about_content .about_content_table .tab_top h3 {
    font-weight: 800;
    margin-top: 30px;
}
.wrap .about_content .about_content_table .tab_ipy .ipt_cont {
    margin-top: 20px;
}
.wrap .about_content .about_content_table .tab_ipy .ipt_cont textarea {
    width: 100%;
    border: 1px solid #4398ed;
    padding: 13px 10px;
    border-radius: 10px;
    background-color: transparent;
}
.wrap .about_content .about_content_table .tab_ipy .ipt_btn {
    text-align: right;
}
.wrap .about_content .about_content_table .tab_ipy .ipt_btn button {
    width: 102px;
    height: 30px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: #3c89d5;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
}

@media screen and (max-width: 800px) {
    .wrap .about_content .about_content_table .tab_top {
        font-size: 24px;
        text-indent: 1em;
        padding-bottom: 20px;
    }
    .wrap .about_content .about_content_table .tab_top h3 {
        font-weight: 800;
        margin-top: 30px;
    }
    .wrap .about_content .about_content_table .tab_ipy .ipt_cont {
        margin-top: 20px;
    }
    .wrap .about_content . .tab_ipy .ipt_cont textarea {
        width: 100%;
        border: 1px solid #4398ed;
        padding: 13px 10px;
        border-radius: 10px;
        background-color: transparent;
    }
    .wrap .about_content .about_content_table .tab_ipy .ipt_btn {
        text-align: right;
    }
    .wrap .about_content .about_content_table .tab_ipy .ipt_btn button {
        width: 102px;
        height: 30px;
        overflow: hidden;
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
        background-color: #3c89d5;
        color: white;
        border-radius: 10px;
        margin-top: 30px;
    }
}