body {
  background: #d4ebf1;
  font-family: 'Courier New', Courier, monospace;
}
.header {
  width: 1100px;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  background-color: #d4ebf1;
  padding-bottom: 20px;
  padding-top: 20px;
  top: 0;
}
.header h2 {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 10px;
  letter-spacing: 0.1em;
}
.header .nav ul {
  display: flex;
}
.header .nav ul li a {
  color: #70959a;
  padding: 0 10px;
  font-size: 16px;
  line-height: 22px;
}
.header .nav ul li:hover a {
  transition: 1s;
  color: #ff0000;
  font-size: 20px;
}
.header .nav ul li #current {
  color: #d4ebf1;
  background-color: #70959a;
  padding: 0 10px;
  font-size: 16px;
  line-height: 22px;
}
.wrap {
  width: 1100px;
  margin: 30px auto 10px;
}
.wrap .content {
  display: flex;
  justify-content: space-between;
}
.wrap .content .cont_left {
  width: 790px;
}
.wrap .content .cont_left ul li {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}
.wrap .content .cont_left ul li a {
  display: flex;
  align-items: center;
  margin: auto;
}
.wrap .content .cont_left ul li a img {
  width: 210px;
  height: 158px;
  margin-right: 20px;
  border-radius: 3px;
  display: inline-block;
}
.wrap .content .cont_left ul li a .item_card {
  width: 500px;
  display: inline-block;
}
.wrap .content .cont_left ul li a .item_card h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0;
  line-height: 28px;
  font-size: 18px;
  color: black;
  font-weight: 800;
}
.wrap .content .cont_left ul li a .item_card p {
  text-indent: 1em;
  color: #888;
  font-size: 14px;
  line-height: 24px;
  word-wrap:break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
}
.wrap .content .cont_right {
  width: 280px;
}
.wrap .content .cont_right .rbox {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 20px 30px;
  overflow: hidden;
}
.wrap .content .cont_right .rbox .mycard h2 {
  font-size: 24px;
  overflow: hidden;
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 40px;
  border-bottom: #abc7d7 1px solid;
}
.wrap .content .cont_right .rbox .mycard p {
  line-height: 30px;
  font-size: 14px;
  color: #666;
  z-index: 2;
}
.wrap .content .recommendation {
  margin-top: 30px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 20px 30px;
  overflow: hidden;
}
.wrap .content .recommendation .h_title {
  font-size: 18px;
  padding-top: 20px;
  margin-bottom: 10px;
}
.wrap .content .recommendation ul {
  padding-left: 20px;
}
.wrap .content .recommendation ul li {
  margin: 24px 0;
  list-style-type: circle;
  margin-top: 5px;
}
.wrap .content .recommendation ul li a {
  text-decoration: none;
  color: #333;
}
.wrap .content .recommendation ol li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.432);
  line-height: 32px;
}
.wrap .content .recommendation ol li a {
  line-height: 32px;
  width: 200px;
  text-decoration: none;
  color: #333;
}
.wrap .content .recommendation ol li a p {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wrap .content .recommendation ol li span {
  color: #808595;
  font-size: 12px;
}
.wrap .content .recommendation ol li:first-child span {
  color: red;
}
.wrap .about_content {
  background: rgba(255, 255, 255, 0.5);
  padding: 30px;
  margin: 20px 10px;
  border-radius: 3px;
}
.wrap .about_content .about_content_title {
  font-size: 24px;
  text-indent: 1em;
  border-bottom: #c3dae0 1px solid;
  padding-bottom: 20px;
}
.wrap .about_content .about_content_title h5 {
  font-weight: 800;
}
.wrap .foot p {
  font-size: 14px;
  border-top: rgba(255, 255, 255, 0.5) 1px solid;
  text-align: center;
  line-height: 30px;
  color: #206050;
}
@media screen and (max-width: 800px) {
  html {
    font-size: 24px;
  }
  .header {
    position: -webkit-sticky;
    position: sticky;
    padding-bottom: 20px;
    padding-top: 20px;
    top: 0;
    background-color: #d4ebf1;
    width: 100vw;
  }
  .header h2 {
    color: #000;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .header .nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #d4ebf1;
  }
  .header .nav ul {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left: none;
    border-right: none;
  }
  .header .nav ul li a {
    font-size: 16px;
    color: #70959a;
    padding: 0 10px;
  }
  .wrap {
    width: 100vw;
    overflow: hidden;
    margin: 30px auto 10px;
  }
  .wrap .content {
    display: flex;
    flex-direction: column;
  }
  .wrap .content .cont_left {
    width: 90%;
    overflow: hidden;
    margin: 10px auto;
  }
  .wrap .content .cont_left ul li {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
  }
  .wrap .content .cont_left ul li a {
    display: flex;
  }
  .wrap .content .cont_left ul li a img {
    width: 210px;
    height: 158px;
    margin-right: 20px;
    border-radius: 3px;
    display: inline-block;
  }
  .wrap .content .cont_left ul li a .item_card {
    display: inline-block;
    overflow: hidden;
  }
  .wrap .content .cont_left ul li a .item_card h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0;
    line-height: 28px;
    font-size: 18px;
    max-width: 80%;
    color: black;
    font-weight: 800;
  }
  .wrap .content .cont_left ul li a .item_card p {
    padding-right: 20px;
    text-indent: 1em;
    color: #888;
    font-size: 14px;
    line-height: 24px;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  .wrap .content .cont_right {
    width: 100%;
  }
  .wrap .content .cont_right .rbox {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 20px 30px;
    overflow: hidden;
  }
  .wrap .content .cont_right .rbox .mycard {
    padding-left: 20px;
  }
  .wrap .content .cont_right .rbox .mycard h2 {
    font-size: 24px;
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 40px;
    border-bottom: #abc7d7 1px solid;
  }
  .wrap .content .cont_right .rbox .mycard p {
    line-height: 30px;
    font-size: 14px;
    color: #666;
    z-index: 2;
  }
  .wrap .content .recommendation {
    display: none;
  }
  .wrap .about_content {
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
    margin: 20px 10px;
    border-radius: 3px;
  }
  .wrap .about_content .about_content_title {
    font-size: 24px;
    text-indent: 1em;
    border-bottom: #c3dae0 1px solid;
    padding-bottom: 20px;
  }
  .wrap .about_content .about_content_title h5 {
    font-weight: 800;
  }
  .wrap .foot p {
    font-size: 14px;
    border-top: rgba(255, 255, 255, 0.5) 1px solid;
    text-align: center;
    line-height: 30px;
    color: #206050;
  }
}
